# Update application containers on a schedule

[Unit]
Description=Triggers automated package updates of application containers
Requires=app-container-update.service

[Timer]
Unit=app-container-update.service
OnCalendar=*-*-* 6,12,18,22:00:00

[Install]
WantedBy=timers.target
