[Desktop Entry]
Name=KeePassXC (on browserbox)
GenericName=Password Manager (on browserbox)
GenericName[ar]=مدير كلمات المرور (on browserbox)
GenericName[bg]=Мениджър на пароли (on browserbox)
GenericName[ca]=Gestor de contrasenyes (on browserbox)
GenericName[cs]=Aplikace pro správu hesel (on browserbox)
GenericName[da]=Adgangskodehåndtering (on browserbox)
GenericName[de]=Passwortverwaltung (on browserbox)
GenericName[es]=Gestor de contraseñas (on browserbox)
GenericName[et]=Paroolihaldur (on browserbox)
GenericName[fi]=Salasanamanageri (on browserbox)
GenericName[fr]=Gestionnaire de mot de passe (on browserbox)
GenericName[hu]=Jelszókezelő (on browserbox)
GenericName[id]=Pengelola Sandi (on browserbox)
GenericName[it]=Gestione password (on browserbox)
GenericName[ja]=パスワードマネージャー (on browserbox)
GenericName[ko]=암호 관리자 (on browserbox)
GenericName[lt]=Slaptažodžių tvarkytuvė (on browserbox)
GenericName[nb]=Passordhåndterer (on browserbox)
GenericName[nl]=Wachtwoordbeheer (on browserbox)
GenericName[pl]=Menedżer haseł (on browserbox)
GenericName[pt_BR]=Gerenciador de Senhas (on browserbox)
GenericName[pt]=Gestor de palavras-passe (on browserbox)
GenericName[ro]=Manager de parole (on browserbox)
GenericName[ru]=Менеджер паролей (on browserbox)
GenericName[sk]=Správca hesiel (on browserbox)
GenericName[sv]=Lösenordshanterare (on browserbox)
GenericName[th]=แอพจัดการรหัสผ่าน (on browserbox)
GenericName[tr]=Parola yöneticisi (on browserbox)
GenericName[uk]=Розпорядник паролів (on browserbox)
GenericName[zh_CN]=密码管理器 (on browserbox)
GenericName[zh_TW]=密碼管理員 (on browserbox)
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Comment[da]=Fællesskabsdrevet port af Windows-programmet “KeePass Password Safe”
Comment[et]=Kogukonna arendatav port Windowsi programmist KeePass Password Safe
Comment[ru]=Разработанный сообществом порт Windows-приложения KeePass Password Safe
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   dropgrp wheel keepassxc  %f 
Icon=keepassxc
StartupWMClass=org.keepassxc.KeePassXC
StartupNotify=true
Terminal=false
Type=Application
Version=1.5
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;application/x-keepassxc;
SingleMainWindow=true
X-GNOME-SingleWindow=true
Keywords=security;privacy;password-manager;yubikey;password;keepass;
Keywords[de]=sicherheit;privatsphäre;passwort-manager;yubikey;passwort;keepass;
X-Desktop-File-Install-Version=0.28
