[Desktop Entry]
Version=1.0
Name=Brave Web Browser (on browserbox)
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings. (on browserbox)
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser (on browserbox)
GenericName[ar]=متصفح الشبكة (on browserbox)
GenericName[bg]=Уеб браузър (on browserbox)
GenericName[ca]=Navegador web (on browserbox)
GenericName[cs]=WWW prohlížeč (on browserbox)
GenericName[da]=Browser (on browserbox)
GenericName[de]=Web-Browser (on browserbox)
GenericName[el]=Περιηγητής ιστού (on browserbox)
GenericName[en_GB]=Web Browser (on browserbox)
GenericName[es]=Navegador web (on browserbox)
GenericName[et]=Veebibrauser (on browserbox)
GenericName[fi]=WWW-selain (on browserbox)
GenericName[fr]=Navigateur Web (on browserbox)
GenericName[gu]=વેબ બ્રાઉઝર (on browserbox)
GenericName[he]=דפדפן אינטרנט (on browserbox)
GenericName[hi]=वेब ब्राउज़र (on browserbox)
GenericName[hu]=Webböngésző (on browserbox)
GenericName[it]=Browser Web (on browserbox)
GenericName[ja]=ウェブブラウザ (on browserbox)
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ (on browserbox)
GenericName[ko]=웹 브라우저 (on browserbox)
GenericName[lt]=Žiniatinklio naršyklė (on browserbox)
GenericName[lv]=Tīmekļa pārlūks (on browserbox)
GenericName[ml]=വെബ് ബ്രൌസര്‍ (on browserbox)
GenericName[mr]=वेब ब्राऊजर (on browserbox)
GenericName[nb]=Nettleser (on browserbox)
GenericName[nl]=Webbrowser (on browserbox)
GenericName[pl]=Przeglądarka WWW (on browserbox)
GenericName[pt]=Navegador Web (on browserbox)
GenericName[pt_BR]=Navegador da Internet (on browserbox)
GenericName[ro]=Navigator de Internet (on browserbox)
GenericName[ru]=Веб-браузер (on browserbox)
GenericName[sl]=Spletni brskalnik (on browserbox)
GenericName[sv]=Webbläsare (on browserbox)
GenericName[ta]=இணைய உலாவி (on browserbox)
GenericName[th]=เว็บเบราว์เซอร์ (on browserbox)
GenericName[tr]=Web Tarayıcı (on browserbox)
GenericName[uk]=Навігатор Тенет (on browserbox)
GenericName[zh_CN]=网页浏览器 (on browserbox)
GenericName[zh_HK]=網頁瀏覽器 (on browserbox)
GenericName[zh_TW]=網頁瀏覽器 (on browserbox)
# Not translated in KDE, from Epiphany 2.26.1-0ubuntu1.
GenericName[bn]=ওয়েব ব্রাউজার (on browserbox)
GenericName[fil]=Web Browser (on browserbox)
GenericName[hr]=Web preglednik (on browserbox)
GenericName[id]=Browser Web (on browserbox)
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର (on browserbox)
GenericName[sk]=WWW prehliadač (on browserbox)
GenericName[sr]=Интернет прегледник (on browserbox)
GenericName[te]=మహాతల అన్వేషి (on browserbox)
GenericName[vi]=Bộ duyệt Web (on browserbox)
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[ar]=الدخول إلى الإنترنت
Comment[bg]=Достъп до интернет
Comment[bn]=ইন্টারনেটটি অ্যাক্সেস করুন
Comment[ca]=Accedeix a Internet
Comment[cs]=Přístup k internetu
Comment[da]=Få adgang til internettet
Comment[de]=Internetzugriff
Comment[el]=Πρόσβαση στο Διαδίκτυο
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet.
Comment[et]=Pääs Internetti
Comment[fi]=Käytä internetiä
Comment[fil]=I-access ang Internet
Comment[fr]=Accéder à Internet
Comment[gu]=ઇંટરનેટ ઍક્સેસ કરો
Comment[he]=גישה אל האינטרנט
Comment[hi]=इंटरनेट तक पहुंच स्थापित करें
Comment[hr]=Pristup Internetu
Comment[hu]=Internetelérés
Comment[id]=Akses Internet
Comment[it]=Accesso a Internet
Comment[ja]=インターネットにアクセス
Comment[kn]=ಇಂಟರ್ನೆಟ್ ಅನ್ನು ಪ್ರವೇಶಿಸಿ
Comment[ko]=인터넷 연결
Comment[lt]=Interneto prieiga
Comment[lv]=Piekļūt internetam
Comment[ml]=ഇന്റര്‍‌നെറ്റ് ആക്‌സസ് ചെയ്യുക
Comment[mr]=इंटरनेटमध्ये प्रवेश करा
Comment[nb]=Gå til Internett
Comment[nl]=Verbinding maken met internet
Comment[or]=ଇଣ୍ଟର୍ନେଟ୍ ପ୍ରବେଶ କରନ୍ତୁ
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Comment[ro]=Accesaţi Internetul
Comment[ru]=Доступ в Интернет
Comment[sk]=Prístup do siete Internet
Comment[sl]=Dostop do interneta
Comment[sr]=Приступите Интернету
Comment[sv]=Gå ut på Internet
Comment[ta]=இணையத்தை அணுகுதல்
Comment[te]=ఇంటర్నెట్‌ను ఆక్సెస్ చెయ్యండి
Comment[th]=เข้าถึงอินเทอร์เน็ต
Comment[tr]=İnternet'e erişin
Comment[uk]=Доступ до Інтернету
Comment[vi]=Truy cập Internet
Comment[zh_CN]=访问互联网
Comment[zh_HK]=連線到網際網路
Comment[zh_TW]=連線到網際網路
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   dropgrp wheel /usr/bin/brave-browser-stable  %U 
StartupNotify=true
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
StartupWMClass=brave-browser

[Desktop Action new-window]
Name=New Window (on browserbox)
Name[am]=አዲስ መስኮት (on browserbox)
Name[ar]=نافذة جديدة (on browserbox)
Name[bg]=Нов прозорец (on browserbox)
Name[bn]=নতুন উইন্ডো (on browserbox)
Name[ca]=Finestra nova (on browserbox)
Name[cs]=Nové okno (on browserbox)
Name[da]=Nyt vindue (on browserbox)
Name[de]=Neues Fenster (on browserbox)
Name[el]=Νέο Παράθυρο (on browserbox)
Name[en_GB]=New Window (on browserbox)
Name[es]=Nueva ventana (on browserbox)
Name[et]=Uus aken (on browserbox)
Name[fa]=پنجره جدید (on browserbox)
Name[fi]=Uusi ikkuna (on browserbox)
Name[fil]=New Window (on browserbox)
Name[fr]=Nouvelle fenêtre (on browserbox)
Name[gu]=નવી વિંડો (on browserbox)
Name[hi]=नई विंडो (on browserbox)
Name[hr]=Novi prozor (on browserbox)
Name[hu]=Új ablak (on browserbox)
Name[id]=Jendela Baru (on browserbox)
Name[it]=Nuova finestra (on browserbox)
Name[iw]=חלון חדש (on browserbox)
Name[ja]=新規ウインドウ (on browserbox)
Name[kn]=ಹೊಸ ವಿಂಡೊ (on browserbox)
Name[ko]=새 창 (on browserbox)
Name[lt]=Naujas langas (on browserbox)
Name[lv]=Jauns logs (on browserbox)
Name[ml]=പുതിയ വിന്‍ഡോ (on browserbox)
Name[mr]=नवीन विंडो (on browserbox)
Name[nl]=Nieuw venster (on browserbox)
Name[no]=Nytt vindu (on browserbox)
Name[pl]=Nowe okno (on browserbox)
Name[pt]=Nova janela (on browserbox)
Name[pt_BR]=Nova janela (on browserbox)
Name[ro]=Fereastră nouă (on browserbox)
Name[ru]=Новое окно (on browserbox)
Name[sk]=Nové okno (on browserbox)
Name[sl]=Novo okno (on browserbox)
Name[sr]=Нови прозор (on browserbox)
Name[sv]=Nytt fönster (on browserbox)
Name[sw]=Dirisha Jipya (on browserbox)
Name[ta]=புதிய சாளரம் (on browserbox)
Name[te]=క్రొత్త విండో (on browserbox)
Name[th]=หน้าต่างใหม่ (on browserbox)
Name[tr]=Yeni Pencere (on browserbox)
Name[uk]=Нове вікно (on browserbox)
Name[vi]=Cửa sổ Mới (on browserbox)
Name[zh_CN]=新建窗口 (on browserbox)
Name[zh_TW]=開新視窗 (on browserbox)
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   /usr/bin/brave-browser-stable 

[Desktop Action new-private-window]
Name=New Incognito Window (on browserbox)
Name[ar]=نافذة جديدة للتصفح المتخفي (on browserbox)
Name[bg]=Нов прозорец „инкогнито“ (on browserbox)
Name[bn]=নতুন ছদ্মবেশী উইন্ডো (on browserbox)
Name[ca]=Finestra d'incògnit nova (on browserbox)
Name[cs]=Nové anonymní okno (on browserbox)
Name[da]=Nyt inkognitovindue (on browserbox)
Name[de]=Neues Inkognito-Fenster (on browserbox)
Name[el]=Νέο παράθυρο για ανώνυμη περιήγηση (on browserbox)
Name[en_GB]=New Incognito window (on browserbox)
Name[es]=Nueva ventana de incógnito (on browserbox)
Name[et]=Uus inkognito aken (on browserbox)
Name[fa]=پنجره جدید حالت ناشناس (on browserbox)
Name[fi]=Uusi incognito-ikkuna (on browserbox)
Name[fil]=Bagong Incognito window (on browserbox)
Name[fr]=Nouvelle fenêtre de navigation privée (on browserbox)
Name[gu]=નવી છુપી વિંડો (on browserbox)
Name[hi]=नई गुप्त विंडो (on browserbox)
Name[hr]=Novi anoniman prozor (on browserbox)
Name[hu]=Új Inkognitóablak (on browserbox)
Name[id]=Jendela Penyamaran baru (on browserbox)
Name[it]=Nuova finestra di navigazione in incognito (on browserbox)
Name[iw]=חלון חדש לגלישה בסתר (on browserbox)
Name[ja]=新しいシークレット ウィンドウ (on browserbox)
Name[kn]=ಹೊಸ ಅಜ್ಞಾತ ವಿಂಡೋ (on browserbox)
Name[ko]=새 시크릿 창 (on browserbox)
Name[lt]=Naujas inkognito langas (on browserbox)
Name[lv]=Jauns inkognito režīma logs (on browserbox)
Name[ml]=പുതിയ വേഷ പ്രച്ഛന്ന വിന്‍ഡോ (on browserbox)
Name[mr]=नवीन गुप्त विंडो (on browserbox)
Name[nl]=Nieuw incognitovenster (on browserbox)
Name[no]=Nytt inkognitovindu (on browserbox)
Name[pl]=Nowe okno incognito (on browserbox)
Name[pt]=Nova janela de navegação anónima (on browserbox)
Name[pt_BR]=Nova janela anônima (on browserbox)
Name[ro]=Fereastră nouă incognito (on browserbox)
Name[ru]=Новое окно в режиме инкогнито (on browserbox)
Name[sk]=Nové okno inkognito (on browserbox)
Name[sl]=Novo okno brez beleženja zgodovine (on browserbox)
Name[sr]=Нови прозор за прегледање без архивирања (on browserbox)
Name[sv]=Nytt inkognitofönster (on browserbox)
Name[ta]=புதிய மறைநிலைச் சாளரம் (on browserbox)
Name[te]=క్రొత్త అజ్ఞాత విండో (on browserbox)
Name[th]=หน้าต่างใหม่ที่ไม่ระบุตัวตน (on browserbox)
Name[tr]=Yeni Gizli pencere (on browserbox)
Name[uk]=Нове вікно в режимі анонімного перегляду (on browserbox)
Name[vi]=Cửa sổ ẩn danh mới (on browserbox)
Name[zh_CN]=新建隐身窗口 (on browserbox)
Name[zh_TW]=新增無痕式視窗 (on browserbox)
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   /usr/bin/brave-browser-stable --incognito 

