[Desktop Entry]
Version=1.0
Name=Firefox (on browserbox)
GenericName=Web Browser (on browserbox)
GenericName[ca]=Navegador web (on browserbox)
GenericName[cs]=Webový prohlížeč (on browserbox)
GenericName[es]=Navegador web (on browserbox)
GenericName[fa]=مرورگر اینترنتی (on browserbox)
GenericName[fi]=WWW-selain (on browserbox)
GenericName[fr]=Navigateur Web (on browserbox)
GenericName[hu]=Webböngésző (on browserbox)
GenericName[it]=Browser Web (on browserbox)
GenericName[ja]=ウェブ・ブラウザ (on browserbox)
GenericName[ko]=웹 브라우저 (on browserbox)
GenericName[nb]=Nettleser (on browserbox)
GenericName[nl]=Webbrowser (on browserbox)
GenericName[nn]=Nettlesar (on browserbox)
GenericName[no]=Nettleser (on browserbox)
GenericName[pl]=Przeglądarka WWW (on browserbox)
GenericName[pt]=Navegador Web (on browserbox)
GenericName[pt_BR]=Navegador Web (on browserbox)
GenericName[sk]=Internetový prehliadač (on browserbox)
GenericName[sv]=Webbläsare (on browserbox)
Comment=Browse the Web
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
Exec=/usr/sbin/distrobox-enter  -n browserbox  --  dropgrp wheel firefox  %u 
Icon=org.mozilla.firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;profile-manager-window;
X-Desktop-File-Install-Version=0.28
StartupWMClass=org.mozilla.firefox

[Desktop Action new-window]
Name=Open a New Window (on browserbox)
Name[ach]=Dirica manyen (on browserbox)
Name[af]=Nuwe venster (on browserbox)
Name[an]=Nueva finestra (on browserbox)
Name[ar]=نافذة جديدة (on browserbox)
Name[as]=নতুন উইন্ডো (on browserbox)
Name[ast]=Ventana nueva (on browserbox)
Name[az]=Yeni Pəncərə (on browserbox)
Name[be]=Новае акно (on browserbox)
Name[bg]=Нов прозорец (on browserbox)
Name[bn_BD]=নতুন উইন্ডো (N) (on browserbox)
Name[bn_IN]=নতুন উইন্ডো (on browserbox)
Name[br]=Prenestr nevez (on browserbox)
Name[brx]=गोदान उइन्ड'(N) (on browserbox)
Name[bs]=Novi prozor (on browserbox)
Name[ca]=Finestra nova (on browserbox)
Name[cak]=K'ak'a' tzuwäch (on browserbox)
Name[cs]=Nové okno (on browserbox)
Name[cy]=Ffenestr Newydd (on browserbox)
Name[da]=Nyt vindue (on browserbox)
Name[de]=Neues Fenster (on browserbox)
Name[dsb]=Nowe wokno (on browserbox)
Name[el]=Νέο παράθυρο (on browserbox)
Name[en_GB]=New Window (on browserbox)
Name[en_US]=New Window (on browserbox)
Name[en_ZA]=New Window (on browserbox)
Name[eo]=Nova fenestro (on browserbox)
Name[es_AR]=Nueva ventana (on browserbox)
Name[es_CL]=Nueva ventana (on browserbox)
Name[es_ES]=Nueva ventana (on browserbox)
Name[es_MX]=Nueva ventana (on browserbox)
Name[et]=Uus aken (on browserbox)
Name[eu]=Leiho berria (on browserbox)
Name[fa]=پنجره جدید‌ (on browserbox)
Name[ff]=Henorde Hesere (on browserbox)
Name[fi]=Uusi ikkuna (on browserbox)
Name[fr]=Nouvelle fenêtre (on browserbox)
Name[fy_NL]=Nij finster (on browserbox)
Name[ga_IE]=Fuinneog Nua (on browserbox)
Name[gd]=Uinneag ùr (on browserbox)
Name[gl]=Nova xanela (on browserbox)
Name[gn]=Ovetã pyahu (on browserbox)
Name[gu_IN]=નવી વિન્ડો (on browserbox)
Name[he]=חלון חדש (on browserbox)
Name[hi_IN]=नया विंडो (on browserbox)
Name[hr]=Novi prozor (on browserbox)
Name[hsb]=Nowe wokno (on browserbox)
Name[hu]=Új ablak (on browserbox)
Name[hy_AM]=Նոր Պատուհան (on browserbox)
Name[id]=Jendela Baru (on browserbox)
Name[is]=Nýr gluggi (on browserbox)
Name[it]=Nuova finestra (on browserbox)
Name[ja]=新しいウィンドウ (on browserbox)
Name[ja_JP-mac]=新規ウインドウ (on browserbox)
Name[ka]=ახალი ფანჯარა (on browserbox)
Name[kk]=Жаңа терезе (on browserbox)
Name[km]=បង្អួច​​​ថ្មី (on browserbox)
Name[kn]=ಹೊಸ ಕಿಟಕಿ (on browserbox)
Name[ko]=새 창 (on browserbox)
Name[kok]=नवें जनेल (on browserbox)
Name[ks]=نئئ وِنڈو (on browserbox)
Name[lij]=Neuvo barcon (on browserbox)
Name[lo]=ຫນ້າຕ່າງໃຫມ່ (on browserbox)
Name[lt]=Naujas langas (on browserbox)
Name[ltg]=Jauns lūgs (on browserbox)
Name[lv]=Jauns logs (on browserbox)
Name[mai]=नव विंडो (on browserbox)
Name[mk]=Нов прозорец (on browserbox)
Name[ml]=പുതിയ ജാലകം (on browserbox)
Name[mr]=नवीन पटल (on browserbox)
Name[ms]=Tetingkap Baru (on browserbox)
Name[my]=ဝင်းဒိုးအသစ် (on browserbox)
Name[nb_NO]=Nytt vindu (on browserbox)
Name[ne_NP]=नयाँ सञ्झ्याल (on browserbox)
Name[nl]=Nieuw venster (on browserbox)
Name[nn_NO]=Nytt vindauge (on browserbox)
Name[or]=ନୂତନ ୱିଣ୍ଡୋ (on browserbox)
Name[pa_IN]=ਨਵੀਂ ਵਿੰਡੋ (on browserbox)
Name[pl]=Nowe okno (on browserbox)
Name[pt_BR]=Nova janela (on browserbox)
Name[pt_PT]=Nova janela (on browserbox)
Name[rm]=Nova fanestra (on browserbox)
Name[ro]=Fereastră nouă (on browserbox)
Name[ru]=Новое окно (on browserbox)
Name[sat]=नावा विंडो (N) (on browserbox)
Name[si]=නව කවුළුවක් (on browserbox)
Name[sk]=Nové okno (on browserbox)
Name[sl]=Novo okno (on browserbox)
Name[son]=Zanfun taaga (on browserbox)
Name[sq]=Dritare e Re (on browserbox)
Name[sr]=Нови прозор (on browserbox)
Name[sv_SE]=Nytt fönster (on browserbox)
Name[ta]=புதிய சாளரம் (on browserbox)
Name[te]=కొత్త విండో (on browserbox)
Name[th]=หน้าต่างใหม่ (on browserbox)
Name[tr]=Yeni pencere (on browserbox)
Name[tsz]=Eraatarakua jimpani (on browserbox)
Name[uk]=Нове вікно (on browserbox)
Name[ur]=نیا دریچہ (on browserbox)
Name[uz]=Yangi oyna (on browserbox)
Name[vi]=Cửa sổ mới (on browserbox)
Name[wo]=Palanteer bu bees (on browserbox)
Name[xh]=Ifestile entsha (on browserbox)
Name[zh_CN]=新建窗口 (on browserbox)
Name[zh_TW]=開新視窗 (on browserbox)
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   firefox --new-window  %u 

[Desktop Action new-private-window]
Name=Open a New Private Window (on browserbox)
Name[ach]=Dirica manyen me mung (on browserbox)
Name[af]=Nuwe privaatvenster (on browserbox)
Name[an]=Nueva finestra privada (on browserbox)
Name[ar]=نافذة خاصة جديدة (on browserbox)
Name[as]=নতুন ব্যক্তিগত উইন্ডো (on browserbox)
Name[ast]=Ventana privada nueva (on browserbox)
Name[az]=Yeni Məxfi Pəncərə (on browserbox)
Name[be]=Новае акно адасаблення (on browserbox)
Name[bg]=Нов прозорец за поверително сърфиране (on browserbox)
Name[bn_BD]=নতুন ব্যক্তিগত উইন্ডো (on browserbox)
Name[bn_IN]=নতুন ব্যক্তিগত উইন্ডো (on browserbox)
Name[br]=Prenestr merdeiñ prevez nevez (on browserbox)
Name[brx]=गोदान प्राइभेट उइन्ड' (on browserbox)
Name[bs]=Novi privatni prozor (on browserbox)
Name[ca]=Finestra privada nova (on browserbox)
Name[cak]=K'ak'a' ichinan tzuwäch (on browserbox)
Name[cs]=Nové anonymní okno (on browserbox)
Name[cy]=Ffenestr Breifat Newydd (on browserbox)
Name[da]=Nyt privat vindue (on browserbox)
Name[de]=Neues privates Fenster (on browserbox)
Name[dsb]=Nowe priwatne wokno (on browserbox)
Name[el]=Νέο παράθυρο ιδιωτικής περιήγησης (on browserbox)
Name[en_GB]=New Private Window (on browserbox)
Name[en_US]=New Private Window (on browserbox)
Name[en_ZA]=New Private Window (on browserbox)
Name[eo]=Nova privata fenestro (on browserbox)
Name[es_AR]=Nueva ventana privada (on browserbox)
Name[es_CL]=Nueva ventana privada (on browserbox)
Name[es_ES]=Nueva ventana privada (on browserbox)
Name[es_MX]=Nueva ventana privada (on browserbox)
Name[et]=Uus privaatne aken (on browserbox)
Name[eu]=Leiho pribatu berria (on browserbox)
Name[fa]=پنجره ناشناس جدید (on browserbox)
Name[ff]=Henorde Suturo Hesere (on browserbox)
Name[fi]=Uusi yksityinen ikkuna (on browserbox)
Name[fr]=Nouvelle fenêtre de navigation privée (on browserbox)
Name[fy_NL]=Nij priveefinster (on browserbox)
Name[ga_IE]=Fuinneog Nua Phríobháideach (on browserbox)
Name[gd]=Uinneag phrìobhaideach ùr (on browserbox)
Name[gl]=Nova xanela privada (on browserbox)
Name[gn]=Ovetã ñemi pyahu (on browserbox)
Name[gu_IN]=નવી ખાનગી વિન્ડો (on browserbox)
Name[he]=חלון פרטי חדש (on browserbox)
Name[hi_IN]=नयी निजी विंडो (on browserbox)
Name[hr]=Novi privatni prozor (on browserbox)
Name[hsb]=Nowe priwatne wokno (on browserbox)
Name[hu]=Új privát ablak (on browserbox)
Name[hy_AM]=Սկսել Գաղտնի դիտարկում (on browserbox)
Name[id]=Jendela Mode Pribadi Baru (on browserbox)
Name[is]=Nýr huliðsgluggi (on browserbox)
Name[it]=Nuova finestra anonima (on browserbox)
Name[ja]=新しいプライベートウィンドウ (on browserbox)
Name[ja_JP-mac]=新規プライベートウインドウ (on browserbox)
Name[ka]=ახალი პირადი ფანჯარა (on browserbox)
Name[kk]=Жаңа жекелік терезе (on browserbox)
Name[km]=បង្អួច​ឯកជន​ថ្មី (on browserbox)
Name[kn]=ಹೊಸ ಖಾಸಗಿ ಕಿಟಕಿ (on browserbox)
Name[ko]=새 사생활 보호 모드 (on browserbox)
Name[kok]=नवो खाजगी विंडो (on browserbox)
Name[ks]=نْو پرایوٹ وینڈو&amp; (on browserbox)
Name[lij]=Neuvo barcon privou (on browserbox)
Name[lo]=ເປີດຫນ້າຕ່າງສວນຕົວຂື້ນມາໃຫມ່ (on browserbox)
Name[lt]=Naujas privataus naršymo langas (on browserbox)
Name[ltg]=Jauns privatais lūgs (on browserbox)
Name[lv]=Jauns privātais logs (on browserbox)
Name[mai]=नया निज विंडो (W) (on browserbox)
Name[mk]=Нов приватен прозорец (on browserbox)
Name[ml]=പുതിയ സ്വകാര്യ ജാലകം (on browserbox)
Name[mr]=नवीन वैयक्तिक पटल (on browserbox)
Name[ms]=Tetingkap Persendirian Baharu (on browserbox)
Name[my]=New Private Window (on browserbox)
Name[nb_NO]=Nytt privat vindu (on browserbox)
Name[ne_NP]=नयाँ निजी सञ्झ्याल (on browserbox)
Name[nl]=Nieuw privévenster (on browserbox)
Name[nn_NO]=Nytt privat vindauge (on browserbox)
Name[or]=ନୂତନ ବ୍ୟକ୍ତିଗତ ୱିଣ୍ଡୋ (on browserbox)
Name[pa_IN]=ਨਵੀਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ (on browserbox)
Name[pl]=Nowe okno prywatne (on browserbox)
Name[pt_BR]=Nova janela privativa (on browserbox)
Name[pt_PT]=Nova janela privada (on browserbox)
Name[rm]=Nova fanestra privata (on browserbox)
Name[ro]=Fereastră privată nouă (on browserbox)
Name[ru]=Новое приватное окно (on browserbox)
Name[sat]=नावा निजेराक् विंडो (W ) (on browserbox)
Name[si]=නව පුද්ගලික කවුළුව (W) (on browserbox)
Name[sk]=Nové okno v režime Súkromné prehliadanie (on browserbox)
Name[sl]=Novo zasebno okno (on browserbox)
Name[son]=Sutura zanfun taaga (on browserbox)
Name[sq]=Dritare e Re Private (on browserbox)
Name[sr]=Нови приватан прозор (on browserbox)
Name[sv_SE]=Nytt privat fönster (on browserbox)
Name[ta]=புதிய தனிப்பட்ட சாளரம் (on browserbox)
Name[te]=కొత్త ఆంతరంగిక విండో (on browserbox)
Name[th]=หน้าต่างส่วนตัวใหม่ (on browserbox)
Name[tr]=Yeni gizli pencere (on browserbox)
Name[tsz]=Juchiiti eraatarakua jimpani (on browserbox)
Name[uk]=Приватне вікно (on browserbox)
Name[ur]=نیا نجی دریچہ (on browserbox)
Name[uz]=Yangi maxfiy oyna (on browserbox)
Name[vi]=Cửa sổ riêng tư mới (on browserbox)
Name[wo]=Panlanteeru biir bu bees (on browserbox)
Name[xh]=Ifestile yangasese entsha (on browserbox)
Name[zh_CN]=新建隐私浏览窗口 (on browserbox)
Name[zh_TW]=新增隱私視窗 (on browserbox)
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   firefox --private-window  %u 

[Desktop Action profile-manager-window]
Name=Open the Profile Manager (on browserbox)
Name[cs]=Správa profilů (on browserbox)
Name[de]=Profilverwaltung öffnen (on browserbox)
Name[fr]=Ouvrir le gestionnaire de profils (on browserbox)
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   firefox --ProfileManager 


