# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Bart De Vries <bart@mogwai.be>
[Desktop Entry]
Name=Kasts (on browserbox)
Name[ar]=كاست (on browserbox)
Name[ast]=Kasts (on browserbox)
Name[ca]=Kasts (on browserbox)
Name[ca@valencia]=Kasts (on browserbox)
Name[cs]=Kasts (on browserbox)
Name[da]=Kasts (on browserbox)
Name[de]=Kasts (on browserbox)
Name[en_GB]=Kasts (on browserbox)
Name[eo]=Kasts (on browserbox)
Name[es]=Kasts (on browserbox)
Name[eu]=Kasts (on browserbox)
Name[fi]=Kasts (on browserbox)
Name[fr]=Kasts (on browserbox)
Name[gl]=Kasts (on browserbox)
Name[he]=Kasts (on browserbox)
Name[hi]=डिब्बा (on browserbox)
Name[ia]=Kasts (on browserbox)
Name[it]=Kasts (on browserbox)
Name[ka]=Kasts (on browserbox)
Name[ko]=Kasts (on browserbox)
Name[nl]=Kasts (on browserbox)
Name[pa]=ਕਾਸਟਸ (on browserbox)
Name[pl]=Kasts (on browserbox)
Name[pt]=Kasts (on browserbox)
Name[pt_BR]=Kasts (on browserbox)
Name[ru]=Kasts (on browserbox)
Name[sa]=कोश (on browserbox)
Name[sk]=Kasts (on browserbox)
Name[sl]=Kasts (on browserbox)
Name[sv]=Kasts (on browserbox)
Name[tr]=Kastlar (on browserbox)
Name[uk]=Kasts (on browserbox)
Name[zh_CN]=Kasts (on browserbox)
Name[zh_TW]=Kasts (on browserbox)
Comment=Mobile Podcast Application
Comment[ar]=تطبيق مدونات صوتية للهاتف
Comment[ca]=Aplicació mòbil per a pòdcast
Comment[ca@valencia]=Aplicació mòbil per a pòdcast
Comment[cs]=Mobilní aplikace pro přehrávání podcastů
Comment[da]=Mobilt podcastprogram
Comment[de]=Podcast-Anwendung für Mobilgeräte
Comment[en_GB]=Mobile Podcast Application
Comment[eo]=Poŝtelefona Podkast-Aplikaĵo
Comment[es]=Aplicación de pódcast para móviles
Comment[eu]=Mugikorreko podcast aplikazioa
Comment[fi]=Podcast-mobiilisovellus
Comment[fr]=Application mobile pour podcasts
Comment[gl]=Aplicación de podcasts para móbiles.
Comment[he]=יישומון הסכתים לניידים
Comment[hi]=मोबाइल पॉडकास्ट एप्लीकेशन
Comment[ia]=Application de Podcast Mobile
Comment[it]=Applicazione mobile per podcast
Comment[ka]=მობილური პოდკასტის აპლიკაცია
Comment[ko]=모바일 팟캐스트 앱
Comment[nl]=Podcastprogramma voor mobiel
Comment[pa]=ਮੋਬਾਈਲ ਪੋਡਕਾਸਟ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Przenośna aplikacja do podkastów
Comment[pt]=Aplicação Móvel de 'Podcasts'
Comment[pt_BR]=Aplicativo de podcast móvel
Comment[ru]=Мобильное приложение для прослушивания подкастов
Comment[sa]=मोबाइल पॉडकास्ट अनुप्रयोग
Comment[sk]=Mobilná aplikácia na podcasty
Comment[sl]=Program za spremljanje spletnih oddaj
Comment[sv]=Mobilt poddradioprogram
Comment[tr]=Taşınabilir Pod Yayını Uygulaması
Comment[uk]=Мобільна програма для подкастів
Comment[zh_CN]=移动设备播客应用程序
Comment[zh_TW]=行動版 Podcast 應用程式
GenericName=Podcast Application (on browserbox)
GenericName[ar]=تطبيق مدونات صوتية (on browserbox)
GenericName[ca]=Aplicació de pòdcast (on browserbox)
GenericName[ca@valencia]=Aplicació de pòdcast (on browserbox)
GenericName[cs]=Aplikace pro přehrávání podcastů (on browserbox)
GenericName[da]=Podcastprogram (on browserbox)
GenericName[de]=Podcast-Anwendung (on browserbox)
GenericName[en_GB]=Podcast Application (on browserbox)
GenericName[eo]=Podkast-Aplikaĵo (on browserbox)
GenericName[es]=Aplicación de pódcast (on browserbox)
GenericName[eu]=Podcast aplikazioa (on browserbox)
GenericName[fi]=Podcast-sovellus (on browserbox)
GenericName[fr]=Application pour podcasts (on browserbox)
GenericName[gl]=Aplicación de podcasts (on browserbox)
GenericName[he]=יישום הסכתים (on browserbox)
GenericName[hi]=पॉडकास्ट एप्लीकेशन (on browserbox)
GenericName[ia]=Application de Podcast (on browserbox)
GenericName[it]=Applicazione podcast (on browserbox)
GenericName[ka]=პოდკასტის აპლიკაცია (on browserbox)
GenericName[ko]=팟캐스트 앱 (on browserbox)
GenericName[nl]=Podcastprogramma (on browserbox)
GenericName[pa]=ਪੋਡਕਾਸਟ ਐਪਲੀਕੇਸ਼ਨ (on browserbox)
GenericName[pl]=Aplikacja do podkastów (on browserbox)
GenericName[pt]=Aplicação de 'Podcasts' (on browserbox)
GenericName[pt_BR]=Aplicativo de podcast (on browserbox)
GenericName[ru]=Приложение для прослушивания подкастов (on browserbox)
GenericName[sa]=पॉडकास्ट अनुप्रयोग (on browserbox)
GenericName[sk]=Aplikácia na podcasty (on browserbox)
GenericName[sl]=Program za spletne oddaje (on browserbox)
GenericName[sv]=Poddradioprogram (on browserbox)
GenericName[tr]=Pod Yayını Uygulaması (on browserbox)
GenericName[uk]=Програма для подкастів (on browserbox)
GenericName[zh_CN]=播客应用程序 (on browserbox)
GenericName[zh_TW]=Podcast 應用程式 (on browserbox)
Keywords=podcast
Keywords[ar]=مدونة صوتية
Keywords[ca]=pòdcast
Keywords[ca@valencia]=pòdcast
Keywords[cs]=podcast
Keywords[da]=podcast
Keywords[de]=Podcast
Keywords[en_GB]=podcast
Keywords[eo]=podkasto
Keywords[es]=pódcast
Keywords[eu]=podcast
Keywords[fi]=podcast
Keywords[fr]=podcast
Keywords[gl]=podcast
Keywords[he]=הסכת;פודקאסט
Keywords[hi]=पॉडकास्ट
Keywords[ia]=podcast
Keywords[it]=podcast
Keywords[ka]=პოდკასტი
Keywords[ko]=팟캐스트
Keywords[nl]=podcast
Keywords[pl]=podkast
Keywords[pt]=podcast
Keywords[pt_BR]=podcast
Keywords[ru]=подкаст
Keywords[sa]=पॉडकास्टं
Keywords[sk]=podcast
Keywords[sl]=podcast;podkast;spletna oddaja;oddaja;spletnaoddaja
Keywords[sv]=poddsändning
Keywords[tr]=pod yayını
Keywords[uk]=трансляція
Keywords[zh_CN]=podcast;播客;boke
Keywords[zh_TW]=podcast
Icon=kasts
Exec=/usr/sbin/distrobox-enter  -n browserbox  --   dropgrp wheel kasts 
Type=Application
Categories=Network;Qt;KDE;Feed;
Terminal=false
InitialPreference=10
X-KDE-FormFactor=desktop;tablet;handset;
StartupNotify=true
StartupWMClass=org.kde.kasts
