[Desktop Entry]
Version=1.1
Type=Application
Name=KeePassXC (on browserbox)
GenericName=Password Manager (on browserbox)
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Icon=keepassxc
Exec=/usr/bin/distrobox-enter -n browserbox -- runkp.sh %f
Actions=
MimeType=application/x-keepass2;application/x-keepassxc;
Categories=Qt;Security;Utility;
Keywords=security;privacy;password-manager;yubikey;password;keepass;
StartupNotify=true
StartupWMClass=org.keepassxc.KeePassXC
